<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
    </style>
  </head>
  <body>
    <lit-router></lit-router>
    <main role="main" id="main-container"></main>
  </body>
</html>
